body {
  background-color: black;
  color: white;
  text-align: center;
}

main {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: -8px;
}

h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

a {
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

body.dark-mode {
  background-color: black;
  color: white;
}

header {
  background-image: url('https://images.pexels.com/photos/2748716/pexels-photo-2748716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  padding: 100px 100px;
  margin: -8px;
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive; 
  font-style: italic;
  color: #e2635a; 
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 
  30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 
  80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  font-size: 42px;
  text-decoration: underline;
  text-decoration-color: #3e5c63;
}

h2 {
  color: red;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 32px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 
  30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 
  80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  margin-top: 0;
}

p {
  color: white;
}

p2 {
  color: #d4534f;
  font-size: 20px;
  text-align: center;
}

main {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
  position: relative;
}

.button:hover {
  transform: scale(1.1);
}

.button-name {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, color 0.3s ease;
  color: white;
}

.button:hover .button-name {
  opacity: 1;
  color: purple;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 40px;
  }
}



.button-container {
  margin-top: 10px;
}

.button {
  margin: 0 5px;
  width: 50px;
  height: 50px;
}

.button-name {
  bottom: -15px;
}
}

.logo {
  position: relative;
  z-index: 2;
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 999;
}

nav a {
  display: inline-block;
  color: #e82121;
  text-align: center;
  padding: 0.8px 6px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #31c982;
}

.social-buttons {
  text-align: center;
  margin-top: 28px;
  transition: background-color 8s;
}

.social-button {
  display: inline-block;
  width: 100px;
  height: 60px;
  border-radius: 10%;
  color: white;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;

}

.youtube {
  transition: 0.8s;
  background-color: red;
}

.youtube:hover {
  background-color: #a32e2e;
  text-decoration: underline;
}

.github {
  transition: 0.8s;
  background-color: gray;
}
.github:hover {
  background-color: #5a5858;
  text-decoration: underline;
}

.whatsapp {
  transition: 0.8s;
  background-color: #1dd71d;
}

.whatsapp:hover {
  background-color: #1c921e;
  
}


.social-button:hover {
  transform: scale(1.1);
}



.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
    transition: 0.3s ease;
  }

  .profile-pic:hover {
     transform: scale(1.1); 
  }
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8c00;
}

.website-link {
  color: #007bff; 
  text-decoration: none; 
  font-size: 20px; 
  background-color: #8000ff;
  border-radius: 5px;
  font-weight: bold;
  transition: 1s ease;
  padding: 10px;
}

.website-link:hover {
  transform: scale(2.1);
  color: #0056b3;
}

.browser {
  color: #993d3d; 
  text-decoration: none; 
  font-size: 20px; 
  background-color: #e67519;
  border-radius: 5px;
  font-weight: bold;
  transition: 1s ease;
  padding: 10px;
}

.browser:hover {
  transform: scale(2.1);
  color: #ba3636;
}

.login {
  color: #1e27ae; 
  text-decoration: none; 
  font-size: 20px; 
  background-color: #c51111;
  border-radius: 5px;
  font-weight: bold;
  transition: 1s ease;
  padding: 10px;
}

.login:hover {
  transform: scale(2.1);
  color: #ba3636;
}

.clicker{
  color: #1cc49a; 
  text-decoration: none; 
  font-size: 20px; 
  background-color: #bbb616;
  border-radius: 5px;
  font-weight: bold;
  transition: 1s ease;
  padding: 10px;
}

.clicker:hover {
  transform: scale(2.1);
  color: #ba3636;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


